# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives** : 
- List popular languages that are used by Data Scientists
- List commonly used libraries by Data Scientists
- Perform Basic Arithmetic Operation

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Sklearn

| Data Science Tools |
|-------|
| Python |
| R   |
| Tableau |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hour = round(minutes/60,2)
print(minutes,"minutes has ",hour,"hours")

200 minutes has  3.33 hours

## Author
Shivanshu S S